
$color-white: #f9f9f9;
$color-white-footer: #FFFFFF;
$color-gray:#BFBFBF;
$color-yellow:#ECA539;
$color-text-black:#353535;
$color-text-gray: #5E5E5E;
$color-text-white:#FFFFFF;
$color-placeholder-input:$color-gray;
$color-primary-bg-button:#F22539;
$color-primary-bg-button-hover:#C00E20;
$color-secondary-bg-button:$color-gray;
$color-btn-favorite:#F5F5F5;
$color-bg-white: #FFFFFF;
$color-hr:#E8E8E8